absl-py==0.5.0
apt-clone==0.2.1
apt-xapian-index==0.47
apturl==0.5.2
astor==0.7.1
backcall==0.1.0
bleach==2.1.3
blinker==1.3
Brlapi==0.6.4
bz2file==0.98
cachetools==2.1.0
certifi==2018.8.13
chardet==3.0.4
Click==7.0
cloudpickle==0.5.3
command-not-found==0.3
cryptography==1.2.3
cycler==0.10.0
cymem==2.0.2
cytoolz==0.9.0.1
dask==0.18.2
decorator==4.3.0
defer==1.0.6
dill==0.2.8.2
dirspec==13.10
dnc==0.0.8
en-core-web-sm==2.0.0
entrypoints==0.2.3
Flask==1.0.2
future==0.16.0
gast==0.2.0
gevent==1.3.6
google-api-python-client==1.7.4
google-auth==1.5.1
google-auth-httplib2==0.0.3
greenlet==0.4.15
grpcio==1.15.0
gunicorn==19.9.0
gym==0.10.5
h5py==2.8.0
html5lib==1.0.1
httplib2==0.11.3
idna==2.7
imageio==2.3.0
import-ipynb==0.1.3
ipykernel==4.8.2
ipynb==0.5.1
ipython==6.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.0
itsdangerous==0.24
jedi==0.12.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
Keras==2.2.2
Keras-Applications==1.0.5
Keras-Preprocessing==1.0.3
kiwisolver==1.0.1
louis==2.6.4
lxml==3.5.0
Markdown==3.0.1
MarkupSafe==1.0
matplotlib==2.2.3
mistune==0.8.3
mpmath==1.0.0
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.1
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.1
nltk==3.1
notebook==5.6.0
numpy==1.15.1
oauth2client==4.1.3
oauthlib==1.0.3
oneconf==0.3.9
opencv-python==3.4.2.17
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.4
Pillow==5.2.0
piston-mini-client==0.7.5
plac==0.9.6
preshed==2.0.1
prometheus-client==0.3.1
prompt-toolkit==1.0.15
protobuf==3.6.1
ptyprocess==0.6.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0
pyflann3==1.8.4.1
pyglet==1.3.2
Pygments==2.2.0
pygobject==3.20.0
PyICU==1.9.2
PyJWT==1.3.0
pyparsing==2.2.0
python-apt==1.1.0b1+ubuntu0.16.4.2
python-dateutil==2.7.3
python-debian==0.1.27
pytz==2018.5
PyWavelets==0.5.2
pyxdg==0.25
PyYAML==3.13
pyzmq==17.1.2
qtconsole==4.3.1
regex==2018.1.10
reportlab==3.3.0
requests==2.19.1
rsa==4.0
scikit-image==0.14.0
scikit-learn==0.20.0
scipy==1.1.0
seaborn==0.9.0
Send2Trash==1.5.0
sessioninstaller==0.0.0
simplegeneric==0.8.1
six==1.11.0
spacy==2.0.18
sympy==1.3
system-service==0.3
tensor2tensor==1.9.0
tensorboard==1.11.0
tensorflow==1.15.2
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
thin-client-config-agent==0.8
thinc==6.12.1
toolz==0.9.0
torch==0.4.1
torchfile==0.1.0
torchvision==0.2.1
tornado==5.1
tqdm==4.24.0
traitlets==4.3.2
ubuntu-drivers-common==0.0.0
ufw==0.35
ujson==1.35
unattended-upgrades==0.1
uritemplate==3.0.0
urllib3==1.23
virtkey==0.63.0
visdom==0.1.8.5
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.49.0
Werkzeug==0.14.1
widgetsnbextension==3.4.0
wrapt==1.10.11
xgboost==0.81
xkit==0.0.0
